.card-container{
    width:fit-content;
    height: 250px;
    // background: blue;
    text-align: center;
    // margin-right: 1rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
    img{
        height:100%;
    }
}